body{
    margin:0;
    padding: 0;
    font-family: Poppins;
}

.navbar > img{
    width: 11rem;
    height: auto;
}

.navbar{
    /* background-color: lightgray; */
    justify-content: space-between;
    display:flex;
    font-weight: bold;
    padding: 20px 40px;
    box-shadow: 0 0 20px 0 gray;
}

.hero-grid > img{
    align-items: center;

    width: 70%;
    height: auto;
}
.hero{
    padding: 20px 40px ;

}

.header-flex{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10rem;
}
.header-flex >li{
    font-size: 1.5em;
    color: red;
}

.hero-grid {
    display: flex;
    justify-content: center;
}


.card{
    padding: 20px 40px;
    width: 175px;
    position: relative;
}

.card > img {
    border-radius: 10%;
    width: 100%;
}

.card > p {
    /* margin: 0.5rem; */
    margin: 10px;
   
}


.card--stats{
    display: flex;
    align-items: center;
    gap: 2px;
}

.card--star{
    height: 15px;
}


.container{
    display: flex;
    flex-wrap:nowrap;
    overflow-x: auto;
}

.card--badge{
    position: absolute;
    top: 20px;
    left: 45px;
    /* background-color: white; */
    padding: 3px 4px;
    background-color: white; /* Fallback color */
  background-color: rgba(255,255,255, 0.7); 
  /* transform: translate(-50%, -50%); */
  z-index: 2;
    /* backdrop-filter: blur(20px); */
    border-radius: 9px;
    font-weight: bold;
}